<div class="page-header">
  <h1>About</h1>
</div>
  
<div class="col-md-12">
  <blockquote>
    <p>Blocmetrics is an analytics service and reporting tool that you can use with your web apps to track user activity and report results.</p>
  </blockquote>

  <h4>Blocmetrics consists of&mdash;</h4>
  <ul>
    <li>A client-side JavaScript snippet that allows a user to track events on their website.</li>
    <li>A server-side API that captures and saves those events to a database.</li>
    <li>A Rails application (you are here) that displays the captured event data for a user.</li>
  </ul>
</div>

<div class="col-md-12">
  <h2>Feature set:</h2>
  <ol>
    <li>As a user, I want to securely <strong>sign up</strong> for a free account by providing a name, password, and email. I also want to <strong>sign in and out</strong> of Blocmetrics.</li>
    <li>As a user, I want to <strong>register</strong> an application with Blocmetrics for tracking</li>
    <li>As a user, I want <strong>events association</strong> with registered applications</li>
    <li>As a developer, I want to receive incoming events openly via an <strong>API</strong> controller</li>
    <li>As a user, I want to <strong>use JavaScript</strong> to capture client-side events in my application</li>
    <li>As a user, I want to <strong>see a graph of events</strong> for each registered application</li>
  </ol>
</div>

<div class="col-md-12">
  <h2>Created By:</h2>
  <p>Blocmetrics is handcrafted by <a href="http://drianhillman.me/" target="_blank">Drian Hillman</a> through the Software Engineering Track at <a href="https://www.bloc.io">BLOC</a>.</p>
</div>