<h1>Blocmetrics</h1>
<p>An API Tracking Service and Reporting Tool</p>

<% if current_user %>
  <div class="col-md-12">
    <%= link_to "+Add Site", new_registered_application_path(@application), class: 'btn btn-success pull-right' %>
  </div>
<% end %>

<h1>My Registered Sites</h1>
 <% @user.applications.each do |app| %>
   <div class="media">
     <div class="media-body">
       <h4 class="media-heading">
         <%= link_to app.name, registered_application_path(app) %> <small><%= app.url %></small>
       </h4>
     </div>
   </div>
 <% end %>
